VITE_SUPABASE_URL='http://YOUR_IP:54321' # host.docker.internal unfortunately does have an issue with Vite and/or Supabase Realtime
VITE_SUPABASE_KEY='your-local-superbase-anon-key'
SERVICE_ROLE_KEY='your-local-superbase-service-role-key'

SUPABASE_DB_URL='your-supabase-db-connection-string' # for fetching database structure/data from supabase online instance

TMDB_SECRET_API_KEY='your-tmdb-api-key'
SPOTIFY_SECRET_API_KEY='your-spotify-api-key'
